@import url('./variables.scss');
*{
box-sizing: border-box;
margin: 0;
}

body{

    background-color: var(--color-bg);
    height: 100vh;
    transition:background-color 0.4s ;

}

li{
    border: 1px solid var(--color-secondary);
 
    list-style: none;
    margin: 0;
    padding: 8px 16px;
    border-radius: calc(var(--size-margin)/2.5);
}



